<%include ../partials/header%>
	<div class='row justify-content-center'>
		<div class='col-12 mt-4 text-center'>
			<h2>
				Forgot Password
			</h2>
		</div>
		<div class='col-7'>

			<form action='/forgot' method='POST'>
					<div class='form-group'>
						<label for='email'>Please enter email</label>
						<input required id= 'email' class='form-control' type='email' name='email' placeholder='Enter email'>
					</div>
					<div class='form-group'>
						<button class='btn btn-lg btn-primary btn-block' data-backdrop="static" data-toggle="modal" data-target="#disableReset">
							Reset Password
						</button>
					</div>

			</form>
			<a href='/login'>Go back</a>
		</div>


	</div>
	<div id="disableReset" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog text-center" role='document'>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header mx-auto">
					<h4 class="modal-title">Reseting password</h4>
				</div>
				<div class="modal-body">
					<div class="spinner-border" role="status">
  						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<%include ../partials/footer%>