<%include ../partials/header%>
	<div class='row justify-content-center'>
		<div class='col-12 mt-4 text-center'>
			<h2>
				Please reset password
			</h2>
		</div>
		<div class='col-7'>
			<form action='/reset/<%= token %>' method='POST'>
				<div class='form-group'>
					<label for='password'>New Password</label>
					<input id= 'password' class='form-control' type='password' name='password' placeholder='New Password'>
				</div>
				<div class='form-group'>
					<label for='confirm'>Confirm Password</label>
					<input id='confirm' class='form-control' type='password' name='confirm' placeholder='Password'>
				</div>
				<div class='form-group'>
					<button class='btn btn-lg btn-primary btn-block' data-backdrop="static" data-toggle="modal" data-target="#disable">
						Reset Password
					</button>
				</div>

			</form>
			<a href='/campgrounds'>Go back</a>
		</div>
	</div>
	<div id="disable" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog text-center" role='document'>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header mx-auto">
					<h4 class="modal-title">Resetting Password</h4>
				</div>
				<div class="modal-body">
					<div class="spinner-border" role="status">
  						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<%include ../partials/footer%>