<%include ../partials/header%>
	<div class='row justify-content-center'>
		<div class='col-12 mt-4 text-center'>
			<h4>
				Hello <%= user.username %>, please check <%=user.email %> for a verification link.
				
			</h4>
			<p>
				 Not your email? <a role="button" data-toggle="collapse" href="#collapseV" aria-expanded="false" aria-controls="collapseV">Click here</a> to resubmit email.
			</p>
		</div>
		<div class='col-7 collapse' id='collapseV'>
			<form action='/resend' method='POST'>
				<div class='form-group'>
					<input id= 'email' class='form-control' type='email' name='email' placeholder='<%= user.email %>'>
				</div>
				<div class='form-group'>
					<button class='btn btn-lg btn-primary btn-block' data-backdrop="static" data-toggle="modal" data-target="#disable">
						Re-verify
					</button>
				</div>

			</form>
			<a href='/campgrounds'>Go back</a>
		</div>


	</div>
	<div id="disable" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog text-center" role='document'>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header mx-auto">
					<h4 class="modal-title">Sending email to verify again</h4>
				</div>
				<div class="modal-body">
					<div class="spinner-border" role="status">
  						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
		</div>
	</div>


<%include ../partials/footer%>