	<div id="disableDelete" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog text-center" role='document'>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header mx-auto">
					<h4 class="modal-title">Deleting</h4>
				</div>
				<div class="modal-body">
					<div class="spinner-border" role="status">
  						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
		</div>
	</div>