	
		<div id="disable" class="modal fade" role="dialog" tabindex="-1">
			<div class="modal-dialog text-center" role='document'>
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header mx-auto">
						<h4 class="modal-title">Logging In</h4>
					</div>
					<div class="modal-body">
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
<footer class="footer bg-dark text-muted text-center">
	<div class="container">
		<span>&copy; YelpCamp 2020 |
			<a href="/campgrounds" class='text-info'>Home</a> 
			<span class='d-none d-sm'>|
				<a href="/campgrounds/new" class='text-info'>New Campground</a> </span>
			|<a href="#" class='text-info'>Legal</a>
		</span>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src='./scripts/index.js'></script>


</body>

</html>