<%include ../partials/header%>
	<div class='row justify-content-center'>
		<div class='col-12 mt-4 text-center'>
			<h2>
				Comment for <%=campground.title%>
			</h2>
		</div>
		<div class='col-7'>
	
			<form action='/campgrounds/<%=campground._id%>/comments' method='POST'>
				<div class='form-group'>
					<label for="comment">Leave a Comment</label>
					<textarea id="comment" rows='5' class='form-control' name='comment[text]' placeholder='Add a new comment'></textarea>

				</div>

				<div class='form-group'>
					<button class='btn btn-lg btn-primary btn-block' data-backdrop="static" data-toggle="modal" data-target="#disableSubmit">
						Submit!
					</button>
				</div>

			</form>
			<a href='/campgrounds'>Go back</a>


		</div>
	</div>
<%include ../partials/submitModal%>
<%include ../partials/footer%>